html{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2b2b;
}

.error_message{
  align-content: center;
  background-color: rgb(204, 204, 204);
  color: #ff0000;
}

.root{
  margin-left: 16px;
  margin-right: 16px;
}

.container_item{
  background-color: #3d3d3d;
  padding: 1em;
  color: rgb(204, 204, 204);
}
.container_item h3 {
  font-size: 14pt;
  line-height: 20pt;
}
.container_item p, .container_item span {
  font-size: 10pt;
  position: relative;
}

.container_centered{
  text-align: center;
}

.container_exclusive{
  border-radius: 5px;
  margin: 0.5em;
}

.navbar{
  background-color: #3d3d3d;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  display: inline-block;
}

.navbar_button{
  background-color: #3d3d3d;
  border: none;
  color: rgb(204, 204, 204);
  margin: 0;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s all;
  margin-left: 2em;
}
.navbar_button:hover{
  background-color: #2b2b2b;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.5s all;
}
#liveFeed {
  float: right;
  margin-right: 4em;
}

.rover_data_views{
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  height: 90vh;
  overflow: hidden;
}

hr {
  border-color: rgb(204, 204, 204);
}

.dataOverlay {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "gps accel video"
    "gps lidar battery";
}
.accGyroViewData {
  grid-area: accel;
}
.gpsViewData {
  grid-area: gps;
}
.batteryData {
  grid-area: battery;
}
.lidarData {
  grid-area: lidar;
}
.videoData {
  grid-area: video;
}

.videoData img, .lidarData img {
  height: 15em;
}

.livefeed_panel {
  background-color: rgb(204, 204, 204);
  color: #3d3d3d;
  padding: 1em;
  width: 25vw;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(25, 25, 25, 0.4);
  position: fixed;
  right: 5%;
  top: 10%;
  min-height: 20em;
  font-weight: bolder;
}
.triangle {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  
  border-bottom: 20px solid rgb(204, 204, 204);
  position: fixed;
  top: 7.5%;
  right: 7%;
}