html{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.root{
  margin-left: 16px;
  margin-right: 16px;
}

.container_top {
  border-radius: 15px 15px 0px 0px;
  margin-top: 20px;
}

.container_item{
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #ff0000;
}

.quarter{
  width: 25%;
}

.fifth{
  width: 20%;
}

.container_bottom {
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 20;
}

.container_exclusive{
  border-radius: 15px;
}

.completed-todo {
  text-decoration: line-through;
}

.tab-list > span {
  padding: 5px 8px;
  border: 1px solid #282c34;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.tab-list > span.active {
  background-color: #282c34;
  color: #ffffff;
}